<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FDND Programma</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>FDND Programma</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sprint/?sprintSlug=server-side-rendering">Server Side Rendering</a></li>
        <li><a href="/sprint/?sprintSlug=free-space">Free Space</a></li>
        <li><a href="/over">Over</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <main>