<%- include('./partials/head.ejs') %>

<section>
<h1>Boeken overzicht</h1>
<% results.forEach(result => { %>
    <article>
        <p>yo</p>
    
     
<img src="<%= result.coverimages %>" alt="boek">
    </article>
   <% }) %>
</section>

<%- include('./partials/foot.ejs') %>